<nav>
  <div class="site-title">
    <a href="/"><h1>Thordz<span class="blog-title">Hub</span></h1></a>
    <p>CSDC105 Prefinals</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>