<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about">
    <div class="about-wrapper">
      <h2>About Us</h2>
      <p>Aloysius Tordilla is a second-year Bachelor of Science in Information System student at Ateneo de Naga University. With a passion for web development and modern application trends, he created this blog site as part of his academic journey in learning real-world web technologies.</p>
      <p>This project serves as a requirement for the prefinals exam in the subject Trends in Application Development. The blog site features full CRUD functionalities (Create, Read, Update, Delete) allowing users to publish, edit, and manage blog posts. It integrates frontend and backend technologies to demonstrate practical skills in building responsive and dynamic web applications.</p>
      <p>This blog site was developed using Node.js for the server-side environment, Express.js as the backend framework, MongoDB Atlas for the database, and EJS for templating dynamic HTML pages. It also utilizes Multer for image uploads and basic Vanilla CSS for styling.</p>
    </div>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>